body {
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    direction: rtl;
    text-align: right;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.793);
    z-index: 1000;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    width: 100vw;
    box-sizing: border-box;
    padding: 1px;
}

nav::-webkit-scrollbar {
    display: none;
}

.nav-left {
    display: flex;
    gap: 0px;
}

.nav-center {
    display: flex;
    gap: 10px;
    flex-grow: 1;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 16px;
    flex-shrink: 0;
}

nav a:hover {
    color: rgb(182, 182, 182);
}

.custom-navbar img {
    height: 40px;
    flex-shrink: 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-navbar-button {
    display: flex;
    font-size: 13px;
    align-items: center;
    color: white;
    background-color: #51a0af;
    border: 2px solid #111;
    border-radius: 8px;
    padding: 10px 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 4px 4px 0 #111;
    transition: box-shadow 0.2s ease-out;
}

.custom-navbar-button:hover {
    box-shadow: none;
}

/* Home section */
.Home-page {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home-page-summary {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4%;
    margin: 1% 5% 1% 5%;
    filter: drop-shadow(0 0 5px rgba(171, 171, 171, 0.25));
    background-color: #f4e8c8b0;
    border-radius: 5%;
}

.Home-page-pic {
    width: 20vw;
    height: auto;
}

.about-home-page-summary p {
    /* max size, flexable size, max size */
    font-size: clamp(14px, 2vw, 24px);
    text-align: end;
}

.Home-page-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 5%; */
    filter: drop-shadow(0 0 5px rgba(171, 171, 171, 0.25));
    padding: 0px;
}

.Home-page-card-item {
    width: 20%;
    min-width: 250px;
    padding: 1px;
    color: #458693;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-page-card-icon {
    font-size: 2rem;
    color: #458693;
}

.Home-page-card-item p {
    font-size: clamp(10px, 2vw, 20px);
    text-align: center;
}


@media (max-width: 768px) {

    .Home-page-summary {
        display: block;
    }

    .Home-page-pic {
        width: 25vw;
        height: auto;
    }

    .Home-page-card-item {
        width: 15%;
        min-width: 150px;
        padding: 1px;
    }
}

@media (max-width: 480px) {

    .Home-page-pic {
        display: none !important;
    }

    .Home-page-card {
        flex-direction: column;
        align-items: center;
    }

    .Home-page-card-item {
        width: 80%;
    }

}

.Home-page-card-item em {
    font-weight: bold;
}

/* Recip page */
.Recipe-page {
    width: 100vw;
    background-color: #fffaf1;
    padding: 3%;
}

.Recipe-page h1 {
    text-decoration: underline;
    text-decoration-color: rgb(181, 2, 50);
    font-size: 2.1em;
    text-align: center;
    padding: 2%;
}

.Recipe-page em {
    font-weight: bolder;
    color: rgb(181, 2, 50);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

.card_image {
    height: calc(13*1.2rem);
    padding: 1.2rem 1.2rem 0;
    position: relative;
}

.card_image:before,
.card_image:after {
    content: "";
    position: absolute;
    width: 20px;
    left: 60%;
    top: 0;
    height: 45px;
    background: #e6e6e6b8;
    transform: rotate(45deg);
}

.card_image:after {
    transform: rotate(-45deg);
    top: auto;
    bottom: -22px;
    left: 40%;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards_item {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
    background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom /100% 100%, linear-gradient(red 0 0) 30px 0/2px 100% #fff;
    background-repeat: no-repeat;
    line-height: 1.2rem;
    -webkit-mask: radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000)0 0/100% 2.4rem;
}

.card_content {
    padding: 1.2rem;
}

h2.card_title,
p {
    margin: 1.2rem 0;
}

h2.card_title {
    font-size: 1.3em;
}

.card_button {
    padding-top: 15%;
}

.card-button {
    text-decoration: none;
    background-color: rgb(181, 2, 50);
    border-radius: 20px;
    padding: 8px;
    font-size: 1em;
    float: left;
    color: white;
}

.card-button:hover,
.view-more-button:hover {
    background-color: rgb(128, 128, 128);
}

.view-more-button {
    text-decoration: none;
    background-color: rgb(181, 2, 50);
    border-radius: 20px;
    padding: 8%;
    font-size: 1.5em;
    color: white;
    text-align: center;
    height: fit-content;
    width: fit-content;
    display: block;
    margin: 20px auto;
}

/* Add recip page */
.Add-recipe-page {
    direction: rtl;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #4586936d;
    align-items: center;
}

.Add-recipe-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Add-recipe-page-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8%;
}

.Add-recipe-page-details h1,
.Add-recipe-page-details p,
.Add-recipe-page-details button {
    margin-bottom: 15px;
}

.Add-recipe-page-details a {
    text-decoration: none;
}

.button-56 {
    align-items: center;
    background-color: #51a0af;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: white;
    outline: 0;
    color: black;
}

.button-56:hover {
    outline: 0;
}

@media (max-width: 768px) {
    .Add-recipe-page {
        direction: rtl;
        display: grid;
        grid-template-columns: 1fr;
    }

    .Add-recipe-page img {
        display: none;
    }
}

/* CONTACT US/ FOOTER */
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    background-color: rgba(45, 9, 13, 0.905);
    justify-content: flex-start;
    align-items: center;
    direction: rtl;
    padding: 4% 8% 4% 8%;
}

.contact-icons,
.contact-browes {
    display: flex;
    flex-direction: column;
}

.contact-icons p {
    margin: 0;
}

.contact-icons-header {
    font-size: 30px;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.contact-icons ul,
.contact-browse ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-icons li {
    padding: 2px;
}

.contact-icons a {
    color: #38120a;
    font-size: 20px;
    background-color: #fbfaff;
    border-radius: 30px;
    padding: 10px;
}

.contact-icons a:hover {
    color: rgb(178, 96, 38);
}

.contact-info-details {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 15px;
    color: #ffffff;
    font-size: 15px;
}

.contact-browse a {
    text-decoration: none;
    color: inherit;
}

.contact-browse li {
    font-size: 20px;
    color: white;
    padding: 10px;
}

.contact-browse a:hover {
    color: rgb(178, 96, 38);
}

.contact img {
    width: 20vw;
    height: auto;
}

@media (max-width: 768px) {
    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact img {
        display: none;
    }
}

@media (max-width: 480px) {
    #contact {
        display: grid;
        row-gap: 50px;
        padding-top: 80px;
        grid-template-columns: 1fr !important;
    }
}