body{
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    margin: 0;
    height: 100vh;
}
@media (max-width: 768px) {
    body{
        display: block;
    }
    .left-image{
        display: none;
    }
    .right-signin{
        margin: 5% !important;
        padding: 10% !important;
    }
}  
p{
padding-right: 5%;
}
.left-image{
    background-color:  rgb(112, 116, 130);
}
.right-signin{
    margin: 10%;
    padding-left: 30%;
    direction: rtl;
}
hr{
    border-color: rgba(0, 0, 0, 0.753);
    border-width: 1.70px;
    border-radius: 10px;
    border-style: solid;
}
form{
    margin-top: 10%;
}
.full-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
input[type="text"],input[type="password"],input[type="email"],input[type="tel"]{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
button[type="submit"]{
    width: 100%;
    height: 35px;
    text-align: center;
    margin-top: 20px;
    margin-right: 1%;
    margin-bottom: 15%;
    border-radius: 8px;
}
.logo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
button img{
    width: 20px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
}