*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  html,
  body {
    overflow-x: hidden;
  }

body{
    direction: rtl;
}

@media (max-width: 768px)  {
    .menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px !important;
    }
    
}

 /* ------------------header section---------------------*/

.header-background{
    background-image: url('../assets/cookingFormPic.png');
    background-size: cover;
    background-position: center;
    background-attachment: local;
    position: relative;
    width: 100%;
}

.header-background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.399), rgb(255, 255, 255),white); /* Faded dark overlay */
    pointer-events: none;
}

.header-background > *{
    position: relative;
    z-index: 1;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 13% 5% 0% 5%;
    margin: 0;
}

.icon-container{
    display: inline-block;
}

.icon{
    border-radius: 50%;
    width: 15vw;
    height: auto;
    float: inline-end;
    padding-left: 5%;
}

.user-name{
    align-items: center;
    padding: 4% 2%;
}

.full-name{
    font-size: 2.5em;
    font-weight: 600;
    color: rgb(181, 2, 50);
}

.bio{
    font-size: 1.2em;
}

/* ------------------nav tabs override----------------- */
.nav-tabs{
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    padding: 10px 20px; 
}

.nav-link {
    color: #555 !important; 
    border: none; 
    font-weight: bold; 
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid transparent;
}
  
  .nav-link:hover, .nav-link.active {
    color: rgb(178, 96, 38) !important; 
    background-color: #f8f9fa !important; 
    border-radius: 8px; 
    border-bottom: 2px solid rgb(178, 96, 38) !important; 
}

/* -----------------my recpies tab-------------- */
  .Recipe-page {
    background-color: #519faf1f;
    margin: 0; 
    width: 100%;
    padding: 5% 3%;

}

.main {
    width: 100%; 
    text-align: center; 
    margin: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.cards_item {
    display: flex;
    padding: 1rem;
    width: 100%;
    height: auto;
}

.card_image {
    height: calc(13*1.2rem);
    padding: 1.2rem 1.2rem 0;
    position: relative;
}

.card_image:before, .card_image:after {
    content: "";
    position: absolute;
    width: 20px;
    left: 60%;
    top: 0;
    height: 45px;
    background: #e6e6e6b8;
    transform: rotate(45deg);
}

.card_image:after {
    transform: rotate(-45deg);
    top: auto;
    bottom: -22px;
    left: 40%;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards_item {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 30px;
    background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom /100% 100%, linear-gradient(red 0 0) 30px 0/2px 100% #fff;
    background-repeat: no-repeat;
    line-height: 1.2rem;
    -webkit-mask: radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000)0 0/100% 2.4rem;
}

.card_content {
    padding: 1.2rem;
}

h2.card_title,
p {
    margin: 1.2rem 0;
}

h2.card_title {
    font-size: 1.3em;
}

.card_button {
    padding-top: 15%;
}

.card-button {
    text-decoration: none;
    background-color: rgb(181, 2, 50);
    border-radius: 20px;
    padding: 8px;
    font-size: 1em;
    float: left;
    color: white;
}

.card-button:hover , .view-more-button:hover{
    background-color: rgb(128, 128, 128);
}